[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Spirit Rover Python Code
[access "refs/*"]
	owner = group user/Marc Karasek (MarcKarasek)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Marc Karasek (MarcKarasek)
	label-Verified = -1..+1 group user/Marc Karasek (MarcKarasek)
	push = group user/Marc Karasek (MarcKarasek)
	read = group user/Marc Karasek (MarcKarasek)
	rebase = group user/Marc Karasek (MarcKarasek)
	removeReviewer = group user/Marc Karasek (MarcKarasek)
	submit = group user/Marc Karasek (MarcKarasek)
[access "refs/heads/*"]
	create = group user/Marc Karasek (MarcKarasek)
	push = +force group user/Marc Karasek (MarcKarasek)
	pushMerge = group user/Marc Karasek (MarcKarasek)
	read = group user/Marc Karasek (MarcKarasek)
[access "refs/tags/*"]
	push = group user/Marc Karasek (MarcKarasek)
	push = +force group user/Marc Karasek (MarcKarasek)
